src/main/resources/wsdl/flexcore.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:S="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/09/policy/ws-policy.xsd"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  name="BDSService" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://bds.vm.sunshinetech.ai/BDSService/BDSRptService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://bds.vm.sunshinetech.ai/BDSService/BDSRptService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="IBDSService_DoWork_InputMessage">
        <wsdl:part name="parameters" element="tns:DoWork"/>
    </wsdl:message>

    <wsdl:message name="IBDSService_DoWork_OutputMessage">
        <wsdl:part name="parameters" element="tns:DoWorkResponse"/>
    </wsdl:message>

    <wsdl:message name="IBDSService_Message_InputMessage">
        <wsdl:part name="parameters" element="tns:Message"/>
    </wsdl:message>

    <wsdl:message name="IBDSService_Message_OutputMessage">
        <wsdl:part name="parameters" element="tns:MessageResponse"/>
    </wsdl:message>

    <wsdl:message name="IBDSService_PlaceOrder_InputMessage">
        <wsdl:part name="parameters" element="tns:PlaceOrder"/>
    </wsdl:message>

    <wsdl:message name="IBDSService_PlaceOrder_OutputMessage">
        <wsdl:part name="parameters" element="tns:PlaceOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="IBDSService_MessageBytes_InputMessage">
        <wsdl:part name="parameters" element="tns:MessageBytes"/>
    </wsdl:message>
    <wsdl:message name="IBDSService_MessageBytes_OutputMessage">
        <wsdl:part name="parameters" element="tns:MessageBytesResponse"/>
    </wsdl:message>

    <wsdl:portType msc:usingSession="false" name="IBDSService">
        <wsdl:operation name="DoWork">
            <wsdl:input wsaw:Action="http://tempuri.org/IBDSService/DoWork" message="tns:IBDSService_DoWork_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IBDSService/DoWorkResponse" message="tns:IBDSService_DoWork_OutputMessage"/>
        </wsdl:operation>

        <wsdl:operation name="Message">
            <wsdl:input wsaw:Action="http://tempuri.org/IBDSService/Message" message="tns:IBDSService_Message_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IBDSService/MessageResponse" message="tns:IBDSService_Message_OutputMessage"/>
        </wsdl:operation>

        <wsdl:operation name="PlaceOrder">
            <wsdl:input wsaw:Action="http://tempuri.org/IBDSService/PlaceOrder" message="tns:IBDSService_PlaceOrder_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IBDSService/PlaceOrderResponse" message="tns:IBDSService_PlaceOrder_OutputMessage"/>
        </wsdl:operation>

        <wsdl:operation name="MessageBytes">
            <wsdl:input wsaw:Action="http://tempuri.org/IBDSService/MessageBytes" message="tns:IBDSService_MessageBytes_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IBDSService/MessageBytesResponse" message="tns:IBDSService_MessageBytes_OutputMessage"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="BasicHttpBinding_IBDSService" type="tns:IBDSService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="DoWork">
            <soap:operation soapAction="http://tempuri.org/IBDSService/DoWork" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Message">
            <soap:operation soapAction="http://tempuri.org/IBDSService/Message" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="PlaceOrder">
            <soap:operation soapAction="http://tempuri.org/IBDSService/PlaceOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="MessageBytes">
            <soap:operation soapAction="http://tempuri.org/IBDSService/MessageBytes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="BDSService">
        <wsdl:port name="BasicHttpBinding_IBDSService" binding="tns:BasicHttpBinding_IBDSService">
            <soap:address location="http://bds.vm.sunshinetech.ai/BDSService/BDSRptService.svc"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>